// files
.files {
  // box
  width: 100%;
  height: auto;
  margin: 1.5rem 0;

  // position
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .file {
    // box
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;

    border-style: solid;
    border-width: 1px;
    border-radius: 1000px;

    // position
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    // icon
    img {
      height: 100%;
    }

    //   name
    p {
      // style
      color: black;

      // position
      width: auto;
      margin: 0;
      margin-left: 0.6rem;
      display: inline-block;
    }

    //   various file type
    &.pdf {
      border-color: #ff505f;
    }
    &.word {
      border-color: #0290ee;
    }

    &.ppt {
      border-color: #ff7139;
    }
    &.excel {
      border-color: #2bfabc;
    }
    &.link {
      border-color: #321c64;
    }
  }
}

@media (min-width: 992px) {
  // files
  .files {
    flex-direction: row;
    flex-wrap: wrap;

    .file {
      margin-right: 2rem;
    }
  }
}
