#clubs {
  // box
  width: 80%;
  height: auto;
  margin: 2.5rem auto;

  // position
  position: relative;

  // title
  h2 {
    margin: 2rem 0;
  }

  // 1st layer
  .swiper-container {
    // box
    width: 100%;
    height: 100%;
  }

  // Club Card Large (Component)
  .swiper-slide {
    // box
    width: 100%;
    height: 100%;

    // flex align
    display: flex;
    flex-direction: column;
    align-items: center;

    .club-card {
      // box
      width: 90%;
      max-height: 100%;
      margin: 1.5rem 0;

      // cover
      figure {
        width: 100%;
        height: auto;
        max-height: 50%;

        // image itself
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      // club info
      .club-info {
        // box
        width: 100%;
        height: auto;
        padding: 2rem;
        margin: 1rem 0;
        background: #ffffff;
        border: solid 1px #3c3c3c;

        // name
        h3 {
          margin-bottom: 1.5rem;
          text-align: center;
        }

        // icons
        .icons {
          .icon {
            height: 2rem;
            width: 2rem;
            padding: 0;
            margin: 1.5rem 0;

            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

  // navigation button
  .swiper-button-next {
    background-image: url("../../../images/icons/functional/next-min.svg");

    // position
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

@media (min-width: 992px) {
  #clubs {
    // box
    height: auto;
    width: 90%;
    margin: 4rem auto;

    .swiper-wrapper {
      left: -10%;
    }

    .swiper-slide {
      width: 80%;

      .club-card {
        position: relative;

        // cover
        figure {
          height: 60vh;
          width: 90%;
          max-height: 100%;
        }

        .club-info {
          // box
          width: 50%;
          border: none;
          box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.3);

          // position
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // navigation button
    .swiper-button-next {
      // position
      top: 50%;
      right: 30%;
      transform: translate(-50%, -50%);
    }
  }
}
