.jumbotron {
  // position
  position: relative;

  // box
  height: 85vh;
  width: 100%;
  padding: 0;
  margin: 0;

  // cover
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  // title
  a {
    // position
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    // box
    width: 100%;
    padding: 0 1rem;

    h1 {
      color: white;
    }

    // limit line
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  // fade (component)
  .fade-layer {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 28.65%,
      #000000 100%
    );
  }
}

@media (min-width: 992px) {
  .jumbotron {
    // box
    height: 100vh;

    // title
    a {
      width: 60%;
    }
  }
}
