#header {
  flex-wrap: wrap;
  z-index: 5;
  background-color: white;

  // HSNU logo
  .navbar-brand {
    width: 70%;

    img {
      width: 100%;
      max-width: 400px;
    }
  }

  // toggler
  .navbar-toggler {
    border: none;
    width: 20%;

    // icon iteself
    .navbar-toggler-icon {
      background-image: url("../../../images/icons/menu.svg");
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  // search box in navbar
  #nav-search {
    display: none;
  }

  // Navbar Collapse
  .navbar-collapse {
    display: none;
  }
}

@media (min-width: 992px) {
  #header {
    // position
    position: fixed;
    width: 90vw;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1rem 3rem;

    // shadow
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    // HSNU logo
    .navbar-brand {
      width: auto;
    }

    // Navbar Collapse
    .navbar-collapse {
      justify-content: flex-end;

      // Each buttom in navbar
      .nav-item {
        margin: 0 1rem;

        // text inside
        .nav-link {
          color: black;
        }
      }
    }

    // search box in navbar
    #nav-search {
      display: initial;
      width: 100%;
      height: 0;
      padding: 0 0.5rem;
      overflow: hidden;
      transition: all 0.25s ease;

      // text
      input {
        // box
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0.5rem 0;
        margin: 0;
        box-shadow: none;
        border: none;
        border-radius: 0;

        // when it's focused
        &:focus {
          border: none;
          box-shadow: none;
        }
      }

      // expand
      &.active {
        height: auto;
        margin: 1rem 0 0 0;
        padding: 0.5rem;
        border-top: solid rgba(0, 0, 0, 0.3) 0.5px;
      }
    }
  }
}
