@import "header";
@import "sidebar";
@import "footer";

// fonts
// Taipei Sans
@font-face {
  font-family: "Taipei Sans";
  src: url("../../fonts/TaipeiSans/TaipeiSansTCBeta-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Taipei Sans";
  src: url("../../fonts/TaipeiSans/TaipeiSansTCBeta-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Taipei Sans";
  src: url("../../fonts/TaipeiSans/TaipeiSansTCBeta-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

// Noto Serif
@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/NotoSerif/NotoSerifCJKtc-Regular.otf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/NotoSerif/NotoSerifCJKtc-SemiBold.otf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/NotoSerif/NotoSerifCJKtc-Bold.otf");
  font-weight: 700;
  font-display: swap;
}

// font uses
body {
  font-family: "Taipei Sans", sans-serif !important;
}
.serif {
  font-family: "Noto Serif", serif !important;
}

// font sizes
.is-1 {
  font-size: 2rem;
  line-height: 150%;
}
.is-2 {
  font-size: 2rem;
  line-height: 130%;
}
.is-3 {
  font-size: 1.4rem;
  line-height: 130%;
}
.is-4 {
  font-size: 1.15rem;
  line-height: 150%;
}
.is-5 {
  font-size: 1rem;
  line-height: 150%;
}

@media (min-width: 720px) {
  .is-1 {
    font-size: 2.5rem !important ;
  }
  .is-2 {
    font-size: 2rem !important ;
  }
  .is-3 {
    font-size: 1.5rem !important;
  }
  .is-4 {
    font-size: 1.2rem !important;
  }
  .is-5 {
    font-size: 1.2rem !important;
  }
}

// font weight
.light {
  font-weight: 300;
}
.semi {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

// header padding
#header-padding {
  width: 100%;
  height: 0;
}

@media (min-width: 992px) {
  // header padding
  #header-padding {
    margin: 10rem;
  }
}
