@import "header";
@import "sidebar";
@import "footer";

// fonts
// Taipei Sans
@font-face {
  font-family: "Taipei Sans";
  src: url("../../fonts/TaipeiSans/TaipeiSansTCBeta-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Taipei Sans";
  src: url("../../fonts/TaipeiSans/TaipeiSansTCBeta-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Taipei Sans";
  src: url("../../fonts/TaipeiSans/TaipeiSansTCBeta-Bold.ttf");
  font-weight: 700;
}

// Noto Serif
@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/NotoSerif/NotoSerifCJKtc-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/NotoSerif/NotoSerifCJKtc-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/NotoSerif/NotoSerifCJKtc-Bold.otf");
  font-weight: 700;
}

// font uses
body {
  font-family: "Taipei Sans", sans-serif;
}
.serif {
  font-family: "Noto Serif", serif;
}

// font sizes
.is-1 {
  font-size: 2rem;
  line-height: 150%;
}
.is-2 {
  font-size: 2rem;
  line-height: 110%;
}
.is-3 {
  font-size: 1.4rem;
  line-height: 110%;
}
.is-4 {
  font-size: 1.2rem;
  line-height: 150%;
}
.is-5 {
  font-size: 1rem;
  line-height: 150%;
}

@media (min-width: 720px) {
  .is-1 {
    font-size: 3rem;
  }
  .is-2 {
    font-size: 2.5rem;
  }
  .is-3 {
    font-size: 1.75rem;
  }
  .is-4 {
    font-size: 1.2rem;
  }
  .is-5 {
    font-size: 1.2rem;
  }
}

// font weight
.light {
  font-weight: 300;
}
.semi {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
