.RecommandVideo {
  // box
  height: auto;
  margin-bottom: 3rem;

  .sticky {
    // position
    position: absolute;
    top: 5rem !important;
  }

  h2 {
    margin-bottom: 1.3rem;
  }

  // embeded
  iframe {
    // box
    width: 100%;
    height: 65vh;
  }
}

@media (max-width: 992px) {
  .RecommandVideo {
    .sticky {
      position: initial !important;
    }
  }
}
