.content {
  width: 100%;
  margin: 2rem auto 4rem auto;

  // title
  h2 {
    margin: 1.3rem 0;
  }

  // meta
  .meta {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      display: inline-block;

      &.tag {
        color: white;
        background-color: red;
        padding: 0.3rem 1rem;
        border-radius: 20px;
      }
    }
  }

  // files
  .files {
    // box
    width: 100%;
    height: auto;
    margin: 1.5rem 0;

    // position
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .file {
      // box
      width: auto;
      height: auto;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0;

      border-style: solid;
      border-width: 1px;
      border-radius: 1000px;

      // position
      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      // icon
      img {
        height: 100%;
      }

      //   name
      p {
        // style
        color: black;

        // position
        width: auto;
        margin: 0;
        margin-left: 0.6rem;
        display: inline-block;
      }

      //   various file type
      &.pdf {
        border-color: red;
      }
      &.ppt {
        border-color: orange;
      }
    }
  }

  // context
  .context {
    line-height: 160%;

    h1,
    h2 {
      font-size: 2rem;
      font-weight: 700;
    }

    p + h1,
    h2 {
      margin-top: 3rem;
    }

    p,
    strong,
    a {
      font-size: 1.3rem;
    }

    strong {
      font-weight: 700;
    }

    a {
      color: #212529 !important;
      text-decoration: underline black;
    }
  }
}

@media (min-width: 992px) {
  .content {
    // meta
    .meta {
      width: 45%;
    }

    // files
    .files {
      flex-direction: row;
      flex-wrap: wrap;

      .file {
        margin-right: 2rem;
      }
    }
  }
}
