.content {
  width: 100%;
  margin: 2rem auto 4rem auto;

  // title
  h1 {
    margin: 1.3rem 0;
    line-height: 150%;
  }

  // meta
  .meta {
    height: auto;
    width: 100%;
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      display: inline-block;

      &.tag {
        color: white;
        background-color: #000000;
        padding: 0.3rem 1rem;
        border-radius: 20px;
      }
    }

    a {
      color: white;
    }
  }

  // context
  .context {
    line-height: 160%;

    h1,
    h2 {
      font-size: 1.7rem;
      font-weight: 700;
    }

    h1,
    h2 {
      margin-top: 3rem;
    }

    strong {
      font-weight: 700;
      // background-color: #2bfabc;
    }

    em {
      font-style: normal;
    }

    a {
      color: #212529 !important;
      text-decoration: underline #525252;

      &:hover {
        text-decoration: underline #2bfabc;
      }
    }
  }
}

@media (min-width: 992px) {
  .content {
    // meta
    .meta {
      max-width: 70%;
    }

    // files
    .files {
      flex-direction: row;
      flex-wrap: wrap;

      .file {
        margin-right: 2rem;
      }
    }
  }
}
