#search-result-container {
  // box
  padding: 1rem 0;

  .row {
    flex-direction: column;

    // search result card (component)
    .search-result {
      // box
      margin: 1.3rem 0;
      padding: 0 1rem;

      // title
      h3 {
        color: black;
      }

      //   meta
      .meta {
        // box
        height: auto;
        width: auto;
        margin: 0.8rem 0;

        // flex
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          display: inline-block;
          color: black;
          max-width: 30%;

          &.tag {
            color: white;
            background-color: red;
            padding: 0.3rem 1rem;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #search-result-container {
    .row {
      .search-result {
        .meta {
          width: 60%;
        }
      }
    }
  }
}
